:root {
    --white: #ffffff;
    --off-white: #ede7d8;
    --transp-white-1: rgba(255,255,255,0.25);
    --transp-white-2: rgba(255,255,255,0.1);
    --blue-1: #62b8f5;
    --blue02: #4475ef;
    --shadow: rgba(3,46,87,0.2);
    --dark-shadow: #2e2b3d;
    --green: #08f800;
    --yuck: #5c540b;
    --yuckLight: #9e9b7b;
    --yellow: #e3d400;
    --blood: rgb(182, 57, 11);
    --orange: #de910d;

    --dmBlue: #6d86b0;
    --dmRed: #7b584f;
    --dmYuckLight: #67654d;

    --dark: #1d1d1d;

}



/* dark-mode.css */
body.dark-mode {
    background-color: var(--dark); /* Dark background */
    color: #e0e0e0; /* Light text */
  }
  
  body.dark-mode .input-region,
  body.dark-mode #taxForm,
  body.dark-mode #buyersForm,
  body.dark-mode #itemForm {
    background-color: #1e1e1e; /* Slightly lighter than body background */
    color: #e0e0e0;
  }
  

body.dark-mode .input-region {
  background-color: var(--dark); /* Or whatever your dark mode background color is */
}
 
/* Change label text color to white in dark mode */
body.dark-mode label {
    color: #ffffff; /* Sets text color to white */
  }


/* This ensures text in the settings popup remains the same in dark mode */
body.dark-mode .popup {
    color: #000;
}

/* This changes the button outlines to white in dark mode */
body.dark-mode button {
    border: 2px solid var(--dark-shadow) /* White border for buttons */
  }
  
/* If you have specific buttons you want to exclude, you can reverse the effect */
body.dark-mode button#settingsButton {
    border: none; /* Removes the border from the settings button, if desired */
  }

/* Change the settings gear icon to yellow in dark mode */
body.dark-mode #settingsButton .fa-gear {
    color: var(--yellow) !important;
  }

/* Add !important to the hover effect in dark mode to ensure it takes precedence */
body.dark-mode #settingsButton:hover .fa-gear {
    color: var(--blue02) !important; 
  }

/* Targeting the label for Dark Mode within the popup for dark mode specifically */
body.dark-mode .popup label[for='darkModeToggle'] {
    color: #000; /* Sets the label text color to black */
  }


/* change grid lines color */
body.dark-mode .item-row > div {
    border-color: #ffffff; /* Sets the border color to white */
  }



/* Change the background colors for specific sections in dark mode */
body.dark-mode #buyersForm {
    background-color: var(--dmBlue); /* Dark mode blue for buyers section */
  }
  
  body.dark-mode #taxForm {
    background-color: var(--dmRed); /* Dark mode red for tax section */
  }
  
  body.dark-mode #itemForm {
    background-color: var(--dmYuckLight); /* Dark mode yellowish for item/price section */
  }