/* Global styles */
:root {
    --white: #ffffff;
    --off-white: #ede7d8;
    --transp-white-1: rgba(255,255,255,0.25);
    --transp-white-2: rgba(255,255,255,0.1);
    --blue-1: #62b8f5;
    --blue02: #4475ef;
    --shadow: rgba(3,46,87,0.2);
    --dark-shadow: #2e2b3d;
    --green: #08f800;
    --yuck: #5c540b;
    --yuckLight: #9e9b7b;
    --yellow: #e3d400;
    --blood: rgb(182, 57, 11);

}


*{
    padding: 0; /* Removes padding from all elements */
    margin: 0; /* Removes margins from all elements */
    box-sizing: border-box; /* Changes the box model to include padding and border in the element's total width and height */
    font-family: "Tenorite"; /* Sets a default font for all elements */
}

/* Body styling */
body{
    background-color: var(--yuck); /* Sets the background color of the body */
    display: flex; /* Enables flex layout */
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    min-height: 100vh; /* Full height of the viewport */
    flex-direction: column; /* Stacks items vertically */
    background: linear-gradient(to bottom, var(--yuck) 0%, var(--yuck) 60%, var(--yuckLight) 60%);
    background-image: linear-gradient(
        to bottom, 
        var(--yuck) 0%, 
        var(--yuck) 55%, 
        var(--yuckLight) 65%, 
        var(--yuckLight) 100%
      );
}



.flex-container {
    display: flex; /* Enables Flexbox */
    align-items: center; /* Vertically centers the items */
    justify-content: center; /* Horizontally centers the items */
    gap: 20px; /* Adds space between the image and the button container */
    width: 100%;
}

/* Centered container for content */
.centered-container {
    position: absolute;
    min-width: 250px;
    min-height: 250px;
    width: 40vw;
    height: 40vh;
    max-width: 300px;
    max-height: 350px;
    text-align: center; /* Centers the text inside the container */
    background-color: var(--yuckLight); /* Background color of the container */
    padding: 40px 20px; /* Adds padding for that light green box */
    border-radius: 15px; /* Rounds the corners of the container */
    display: inline-block; /* Fits content width */
    margin: 0px; /* Auto margin for auto centering */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust the positioning correctly */
    z-index: 5; /* Ensure it's above other elements */
}

.version-gif {
    max-width: 80%; /* Ensures the GIF is not wider than its container */
    height: auto; /* Keeps the GIF's aspect ratio */
    display: block; /* Makes the GIF a block-level element */
    margin: 0 auto 20px; /* Centers the GIF and adds some space below it */
    margin-top: 20px;
    margin-bottom: 20px;
}


/* Button styling for a consistent look across the site */
button{
    background-color: var(--yellow); /* Sets the background color of buttons */
    border: 2px solid black; /* Removes the default border from buttons */
    border-radius: 5px; /* Rounds the corners of the buttons */
    padding: 20px 20px; /* Adds padding inside the buttons for space around the text */
    color: black; /* Sets the text color inside the buttons */
    cursor: -webkit-grab; /* Pointer cursor on hover */
    font-size: 24px; /* Larger font size */
    font-weight: bold; /* Bold text */
    display: inline-block; /* Inline block display */
    margin-top: 15px; /* Space above the button */
    transition: background-color 0.3s; /* Smooth color transition */

}




button:hover {
    background-color: var(--green); /* Lighter color on hover */
}




/* privacy policy */

/* Style for the privacy policy modal */
.privacy-modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content Box */
  .privacy-modal-content {
    background-color: var(--off-white);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }

  #realPrivacyPolicyBtn {
    background-color: transparent;
    padding: 10px 20px; /* Additional padding for even larger clickable area */
    position: absolute;
}
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  





/* User Manual Button */
.manual-btn {
    position: absolute;
    top: 0px;
    right: 20px;
    border: none;
    cursor: pointer;
    z-index: 10;
    background-color: transparent; /* Make the button background transparent */
    color: inherit; /* The button text color should inherit from its parent */
}

#userManualBtn {
    background-color: transparent; /* Ensure this button has no background color */
}

#userManualBtn .fa-book {
    color: var(--yellow); /* Only the icon color is yellow */
}

#userManualBtn:hover .fa-book {
    color: var(--green); /* Change the icon color on hover */
}


/* User Manual Panel */
.user-manual-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
}




/* Snake Game Button */
.snake-game-btn {
    position: absolute;
    top: 0px;
    right: 75px;
    border: none;
    cursor: pointer;
    z-index: 10;
    background-color: transparent; 
    color: inherit; 
}

#snakeGameBtn {
    background-color: transparent;
}

#snakeGameBtn .fa-gamepad{
    color: var(--yellow);
}

#snakeGameBtn:hover .fa-gamepad {
    color: var(--green);
}




/* Real Privacy Policy Button */
.real-privacy-policy-btn {
    position: fixed; 
    bottom: 20px; /* Distance from the bottom of the viewport */
    right: 20px; /* Distance from the right side of the viewport */
    border: none;
    z-index: 10; 
    background-color: transparent; 
    cursor: pointer; 
    color: inherit; 
}

#realPrivacyPolicyBtn {
    background-color: transparent;
}

#realPrivacyPolicyBtn .fa-shield-halved {
    color: var(--yellow); 
}

#realPrivacyPolicyBtn:hover .fa-shield-halved {
    color: var(--green); 
}

  


/* chevron arrow */
.chevron-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 35px; /* Adjust as needed */
    left: 0;
    right: 0;
    cursor: pointer;
  }
  
  .chevron {
    color: var(--yellow); /* Chevron color */
    font-size: 30px; /* Adjust size as needed */
  }
  
  .chevron-container:hover .chevron {
    outline: 2px solid var(--yellow); /* Outline on hover */
    padding: 10px; /* Space around chevron inside the outline */
    display: inline-block;
    text-align: center;
    width: 100px;
  }
  
  /* Optional: Add transition for a smoother hover effect */
  .chevron-container .chevron {
    transition: all 0.3s ease;
  }


  /* Chevron Up Container */
#chevron-up {
    display: none; /* Hidden by default */
    position: fixed;
    top: 35px; /* Adjust as needed */
    left: 0;
    right: 0;
    cursor: pointer;
}


/* change background color when scrolled down */
/* .body-scrolled {
    background-color: var(--yuckLight);
}

.past-transition-point {
    transition: background-color 0.3s ease;
    background-color: var(--yuckLight);
  } */
  

  

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html,
body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    overflow-y: scroll; /* Enables scrolling without the scrollbar */
    min-height: 100vh;
}


/* about section */

.about-section {
    text-align: center;
    width: 100%;
  }
  
  .about-section h2 {
    font-size: 2em; /* Larger text */
    color: black; /* Adjust the color as needed */
    margin-bottom: 2em; /* Space between the heading and paragraph */
  }
  
  .about-section p {
    font-size: 1em; /* Regular text size */
    color: black; /* Adjust the color as needed */
    margin-left: 10vw;
    margin-right: 10vw;
  }
  
    .about-section p:first-of-type {
    margin-bottom: 20px; /* Adjust the value as needed */
}


/* New container for about-section to push it to the part of the page with yuckLight background */
.bottom-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 120vh; /* Adjust as needed to push the content into the yuckLight area */
  }
