:root {
    --white: #ffffff;
    --off-white: #ede7d8;
    --transp-white-1: rgba(255,255,255,0.25);
    --transp-white-2: rgba(255,255,255,0.1);
    --blue-1: #62b8f5;
    --blue02: #4475ef;
    --shadow: rgba(3,46,87,0.2);
    --dark-shadow: #2e2b3d;
    --green: #08f800;
    --yuck: #5c540b;
    --yuckLight: #9e9b7b;
    --yellow: #e3d400;
    --blood: rgb(182, 57, 11);
    --orange: #de910d

}

/* Global styles */
*{
    padding: 0; /* Removes padding from all elements */
    margin: 0; /* Removes margins from all elements */
    box-sizing: border-box; /* Changes the box model to include padding and border in the element's total width and height */
    font-family: "Tenorite"; /* Sets a default font for all elements */
}


button{
    background-color: var(--yellow);
    cursor:-webkit-grab;
    color: black;
    padding: 5px 5px;
    font-size: 15px;
    display: inline-flex;
}


/* Keyframes to simulate color transition */
@keyframes colorCycle {
    0% { background-color: var(--yellow); }
    35% { background-color: var(--green); }
    50% { background-color: var(--blood); }
    75% { background-color: var(--yuck); }
    100% { background-color: var(--yellow);}
}

button:hover {
    animation: colorCycle 5s infinite; /* Apply the animation on hover */
}


/* New container for all top buttons */
.top-buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
  
.Home,
.clear-data-container,
.settings-container {
    /* Make sure each container can grow and shrink as needed */
    flex: 1;
    display: flex;
    justify-content: center; /* Center content of each button container */
}

/* Specifically align the Home button to the left */
.Home {
    justify-content: flex-start;
    padding: 10px 10px;
}


.clear-data-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  
/* Settings Button */
.settings-container {
    position: absolute;
    top: 10px;
    right: 10px;
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

/* Adjust the popup positioning */
.popup {
    display: none;
    position: absolute;
    margin-top: -2.5px;
    margin-right: 5px;
    right: 0;
    top: 100%; /* Align the top of the popup with the bottom of the button */
    padding: 20px;
    border: 1px solid #ccc;
    background-color: var(--white);
    box-shadow: 0 2px 10px var(--shadow);
    z-index: 10;
  }

.popup h2 {
    margin-bottom: 10px;
}

/* Styling for the settings button */
#settingsButton {
    padding: 5px 10px;
    margin-bottom: 10px; /* Space between button and popup */
    border: none;
    background: none;
}

#settingsButton i {
    font-size: 24px;
}

/* Override the hover effect for the settings button */
#settingsButton:hover {
    animation: none;
    background-color: none;
}

/* Change the color of the gear icon when hovering over the settings button */
#settingsButton:hover .fa-gear {
    color: var(--blue02) !important; 
}


/* Container for the toggle switch, adds spacing around the switch */
.toggle-switch {
    position: relative;
    display: inline-block;
    width: 50px; /* Width of the switch */
    height: 24px; /* Height of the switch */
    margin: auto;
    vertical-align: middle;
  }

  /* Hides default checkbox */
  .toggle-input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  /* The slider */
  .toggle-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .2s;
    transition: .2s;
    border-radius: 24px; /* Circular edges */
  }

  .toggle-slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .2s;
    transition: .2s;
    border-radius: 50%;
  }

  /* When the checkbox is checked, add a blue background */
.toggle-input:checked + .toggle-slider {
    background-color: var(--orange);
  }

  /* Move the slider to the right when checked */
.toggle-input:checked + .toggle-slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

/* Add styling for when the mouse hovers over the input */
.toggle-slider:hover {
    background-color: var(--shadow);
  }

/* Style for when the input is focused by keyboard navigation, adds a box shadow */
.toggle-input:focus + .toggle-slider {
    box-shadow: 0 0 1px #2196F3;
  }


/* Adjust the clear data button height */
#clearDataButton {
    height: auto;
    padding: 5px 10px; 
}


/* ---------------------------------------------------------------*/



.input-region{
    margin-top: 20px;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
    margin-bottom: 10px;
}



.input-region > form#itemForm {
    width: 100%;
}

.input-region form{
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 3px;
}

.input-region label{
    text-align: center;
    margin-left: 25px;
}

.input-region button{
    margin-left: 10px;
}

.input-region input[type="text"],
.input-region input[type="number"] {
    padding: 5px;
}

#addBuyerButton {
    display: block;
}

#buyersForm,
#taxForm {
    margin: 0 30px;
}

.item-name-container {
    margin-right: 20px;
}

.item-price-container {
    margin-left: 20px;
}


/* colored boxes */
#taxForm {
    background-color: rgb(216, 177, 168);
    padding: 15px;
    padding-left: 20px;
}

#buyersForm {
    background-color: rgb(176, 209, 209);
    padding: 15px;
    padding-right: 20px;
}

#itemForm {
    background-color: #dfddbf;
    padding: 20px;
    margin-left: 0px;
    margin-right: 10px;
    margin-bottom: 0px;
}



/*-------------------------------------------------------*/



/* display grid */
#display-titles {
    display: grid;
    grid-template-columns: 0.7fr 0.5fr 1.8fr;
    align-items: center;
    margin-right: 10px;
    margin-left: 10px;
    font-weight: bold;
}

#display-titles > div {
    border: 3.5px solid;
    padding: 10px;
    text-align: center;
    margin-top: 30px;

}


/*columns between item and price and price and buyer*/
#display-titles > div:not(:last-child) {
    border-right: 0px solid; 
}


#display-info > div {
    border: 2px solid;
    border-top: none;
    padding: 10px;
    text-align: center;
    margin-top: 0px;
}


#display-info {
    display: grid;
    grid-template-columns: 0.7fr 0.5fr 1.8fr;
    gap: 0px;
    row-gap: 0px; /*gap between display rows */
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
    margin-top: 5px;
}

#cost-per-buyer-section {
    margin-bottom: 0px; 
    margin-top: 30px;
    align-items: center;
    text-align: center;
    font-size: 18px;
}


.item-name,
.item-price,
.item-buyers{
    border: 1px solid #000;
    padding: 10px; /*height of display rows*/
    align-self: stretch; /* Ensures that the cell stretches to fill the row height */
    word-break: break-word; /* Allows the text to wrap within the container */
    overflow-wrap: break-word; /* Ensures words break to prevent overflow */
}

.item-row {
    display: contents; /* This lets the children participate in the grid directly */
}

.item-buyers {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    align-items: center; /* Vertically aligns the checkboxes and labels */
}

.buyer-container {
    display: flex;
    align-items: center; /* Center align the checkbox and label */
    margin-right: 5px; /* Adds space between buyer entries */
}

.buyer-container input[type='checkbox']:hover,
.buyer-container .buyer-label:hover {
    cursor: grab;
}

.buyer-label {
    margin-left: 5px; /* Space between the checkbox and the label text */
}
